{% extends 'emails/base_email.html.twig' %}

{% block content %}
    <h2>Bonjour {{ prenom }},</h2>

    <p>Votre commande <strong>{{ numero_commande }}</strong> a été acceptée !</p>

    <p>Date de prestation : <strong>{{ date_prestation }}</strong></p>

    <p>Merci de votre confiance.</p>
{% endblock %}