{% extends 'emails/base_email.html.twig' %}

{% block content %}

    <h2>Réinitialisation de votre mot de passe</h2>

    <p>Bonjour {{ prenom }},</p>

    <p>Votre administrateur a modifié votre mot de passe.</p>

    <p>Votre mot de passe temporaire est : <strong>{{ motDePasse }}</strong></p>
    
    <p>Nous vous conseillons de le modifier dès votre prochaine connexion.</p>

{% endblock %}